.header-logo{
padding-left: 10px;
padding-right: 10px;
font-weight:700;
font-size: x-large ;
}

.search-header{
 width: 300px;
 border-radius: 0.5em;
 margin: 0;
}
.search-button{
background-color: white;
color: black;
margin: 0;
}

.header-menu{
display: flex;
flex-direction: row;
margin-left: 50px;
justify-content: space-around;
}


.nav-menu{
font-weight: 600;
font-size: larger;
}

