.header-logo {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 400;
    font-size: x-large;
}


.header-menu {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    justify-content: space-around;
    width: 600px;
}


.nav-menu {
    font-weight: 300;
    font-size: 15px;
}

.header-login-cart {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 150px;
    cursor: pointer;
}

.container-fluid {
    height: 50px;
    display: flex;
    justify-content: space-around;
}
